.utilichart, .utilichart li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	clear: both;
	word-wrap: normal;
}

.utilichart li > a, .utilitychart li > div {
	display: block;
	height: 36px;
	padding: 0 0 0 4px;
	border: 1px solid transparent;
	margin: 0 5px 1px 5px;
	text-decoration: none;
}
.utilichart li > a.cur {
	border-color: #CCCCCC;
	background: #F2F2F2;
}
/* Item rows need taller height to match the 60px row height */
.utilichart li:has(.itemiconcol) > a,
.utilichart li:has(.itemclasscontainer) > a {
	height: 60px;
}
/* Ability rows need taller height for descriptions */
.utilichart li:has(.abilitydesccol) > a {
	height: 60px;
}
.utilichart .filter,
.searchboxwrapper .filter {
	padding:1px 3px;
	border-radius: 3px;
	border: 1px solid #777;
	background: #EEE;
	color: black;
	font-size: 9pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	cursor: pointer;
}
.utilichart .filter:hover,
.searchboxwrapper .filter:hover {
	color: #777777;
	text-decoration: line-through;
}
.searchboxwrapper .filter.noclear:hover {
	color: black;
	text-decoration: none;
	cursor: default;
}
.utilichart .filter i,
.searchboxwrapper .filter i {
	color: #999999;
}
.utilichart .filter:hover i,
.searchboxwrapper .filter:hover i {
	color: #BB2222;
}
.resultheader,
.utilichart li.resultheader,
.utilichart .result {
	height: 33px;
	padding: 1px 0 0 0;
	contain: strict;
}
.utilichart li.result.itemrow {
	height: 60px;
}
.utilichart li.result.abilityrow {
	height: 60px;
}
.utilichart li.result {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	margin-bottom: 2px;
}
.message .utilichart .result, .chat .utilichart .result, .notice .utilichart .result {
	height: auto;
	contain: none;
}
.result p,
.resultheader p,
.utilichart .result p {
	padding: 7px 0 0 8px;
	margin: 0;
}
.utilichart h3,
.dexentry h3,
.resultheader h3 {
	margin: 5px 0 0 -1px;
	padding: 3px 8px;
	font-family: Verdana, sans-serif;
	font-size: 10pt;

	background: #DAE5F0;
	color: black;
	border: 1px solid #AAAAAA;
	text-shadow: 1px 1px 0 rgba(255,255,255,.6);
	/* box-shadow: inset 1px 1px 0 rgba(255,255,255,.6), 0px 2px 2px rgba(0,0,0,.15); */
	box-shadow: inset 1px 1px 0 rgba(255,255,255,.6);
}
.utilichart li > em {
	display: block;
	padding: 0 8px;
	font-size: 10pt;
}
.utilichart .col {
	float: left;
	padding-top: 7px;
	height: 29px;
	font-size: 9pt;
	color: #444444;
	margin-left: 4px;
}
.utilichart .namecol,
.utilichart .typecol,
.utilichart .categorycol {
	margin-left: 0;
}
.utilichart .iconcol {
	padding-top: 3px;
	width: 40px;
	height: 33px;
}
.utilichart .iconcol span {
	display: block;
	width: 40px;
	height: 30px;
	background: transparent none no-repeat scroll 0px -8px;
}
.utilichart .itemiconcol {
	width: 24px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 0;
}
.utilichart .itemiconcol span {
	display: block;
	width: 24px;
	height: 24px;
	background: transparent none no-repeat scroll 0px 0px;
}
.utilichart .numcol {
	width: 24px;
	padding-right: 5px;
	text-align: right;
	color: #999999;
	padding-top: 8px;
	font-size: 8pt;
	white-space: nowrap;
}
.utilichart .statcol,
.utilichart .bstcol,
.utilichart .labelcol,
.utilichart .widelabelcol,
.utilichart .pplabelcol {
	padding-top: 1px;
	height: 35px;
	width: 24px;
	text-align: right;
	font-size: 8pt;
}
.utilichart .labelcol {
	text-align: center;
	width: 38px;
	margin-left: -5px;
}
.utilichart .widelabelcol {
	text-align: center;
	width: 50px;
}
.utilichart .pplabelcol {
	text-align: center;
	width: 25px;
	padding-right: 5px;
}
.utilichart .bstcol {
	padding-left: 2px;
}
.utilichart .flaglabelcol {
	text-align: center;
	width: 104px;
}

.utilichart .flaglabelcol em,
.utilichart .labelcol em,
.utilichart .widelabelcol em,
.utilichart .pplabelcol em,
.utilichart .statcol em,
.utilichart .bstcol em {
	color: #999999;
	font-size: 7pt;
	font-style: normal;
}
.utilichart .stattitlecol {
	padding-top: 2px;
	width: 20px;
	text-align: right;
	font-size: 7pt;
	color: #999999;
}
.utilichart .namecol {
	height: 36px;
	width: 120px;
	color: #000000;
	font-size: 10pt;
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-left: 4px;
	margin-left: 9px;
}
.utilichart .itemnamecol {
	height: 60px;
	width: 120px;
	color: #000000;
	font-size: 10pt;
	display: flex;
	align-items: center;
	padding-top: 0;
}
/* Container for stacked classification buttons */
.utilichart .itemclasscontainer {
	height: 60px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2px;
	margin: 0 12px 0 4px;
	padding-top: 0;
}
.utilichart .itemclasscol {
	height: 18px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6pt;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	padding: 1px 3px;
	/* Default (emdash) - grey */
	background: linear-gradient(to bottom, #cccccc, #999999);
	border: 1px solid #777777;
	color: #555555;
	box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 -1px 1px rgba(255,255,255,.3);
}
/* Make clickable classification buttons appear interactive */
.utilichart .itemclasscol[data-tag],
.utilichart .itemconsumecol[data-tag] {
	cursor: pointer;
	transition: transform 0.1s, box-shadow 0.1s;
}
.utilichart .itemclasscol[data-tag]:hover,
.utilichart .itemconsumecol[data-tag]:hover {
	transform: translateY(-1px);
	box-shadow: 0 2px 3px rgba(0,0,0,.3), inset 0 -1px 1px rgba(255,255,255,.4);
}
.utilichart .itemclasscol[data-tag]:active,
.utilichart .itemconsumecol[data-tag]:active {
	transform: translateY(0px);
	box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 1px 2px rgba(0,0,0,.2);
}
/* Fragile items - red */
.utilichart .itemclasscol.fragile {
	background: linear-gradient(to bottom, #ee5555, #cc3333);
	border-color: #aa2222;
	color: #ffffff;
}
/* Volatile items - yellowish-orange */
.utilichart .itemclasscol.volatile {
	background: linear-gradient(to bottom, #ffbb44, #ee9922);
	border-color: #cc7711;
	color: #ffffff;
}
/* Empty fragile button - invisible */
.utilichart .itemclasscol.empty {
	opacity: 0;
	pointer-events: none;
}

/* Consumable button */
.utilichart .itemconsumecol {
	height: 18px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 6pt;
	font-weight: bold;
	text-align: center;
	border-radius: 3px;
	padding: 1px 3px;
	/* Default (emdash) - grey */
	background: linear-gradient(to bottom, #cccccc, #999999);
	border: 1px solid #777777;
	color: #555555;
	box-shadow: 0 1px 1px rgba(0,0,0,.2), inset 0 -1px 1px rgba(255,255,255,.3);
}
/* Consumable items - green */
.utilichart .itemconsumecol.consumable {
	background: linear-gradient(to bottom, #55cc55, #33aa33);
	border-color: #228822;
	color: #ffffff;
}
/* Pokeball items - red */
.utilichart .itemconsumecol.pokeball {
	background: linear-gradient(to bottom, #ff3333, #ee1515);
	border-color: #cc0000;
	color: #ffffff;
}
/* Evolution items - blue */
.utilichart .itemconsumecol.evolution {
	background: linear-gradient(to bottom, #5599ff, #3377dd);
	border-color: #2255bb;
	color: #ffffff;
}
/* Trade evolution items - violet */
.utilichart .itemconsumecol.tradeevo {
	background: linear-gradient(to bottom, #bb77ff, #9955dd);
	border-color: #7733bb;
	color: #ffffff;
}
/* Berry items - pink/magenta */
.utilichart .itemconsumecol.berry {
	background: linear-gradient(to bottom, #ff77cc, #ee55aa);
	border-color: #cc3388;
	color: #ffffff;
}
/* Empty consumable button - invisible */
.utilichart .itemconsumecol.empty {
	opacity: 0;
	pointer-events: none;
}
.utilichart .pokemonnamecol {
	padding-top: 6px;
	height: 30px;
	width: 127px;
	color: #000000;
	font-size: 10pt;
	white-space: nowrap;
}
.utilichart .shortpokemonnamecol {
	padding-top: 6px;
	height: 30px;
	width: 118px;
	color: #000000;
	font-size: 10pt;
	white-space: nowrap;
}
.utilichart .movenamecol {
	height: 30px;
	width: 140px;
	color: #000000;
	font-size: 10pt;
	display: flex;
	align-items: center;
	padding-top: 0;
}
.utilichart .shortmovenamecol {
	height: 30px;
	width: 112px;
	color: #000000;
	font-size: 10pt;
	display: flex;
	align-items: center;
	padding-top: 0;
}
.utilichart .tagcol {
	padding-top: 6px;
	height: 30px;
	width: 34px;
	border-right: 1px solid #CCCCCC;
	margin-right: 5px;
	text-align: center;
	color: #000000;
	font-size: 10pt;
}
.utilichart .tagcol.shorttagcol {
	margin-right: 1px;
}
.utilichart .typecol {
	width: 46px;
	position: relative;
	height: 36px;
}
.utilichart .catcol {
	width: 52px;
	position: relative;
	text-align: center;

}
.utilichart .catcol img {
	position: relative;
	top: 1px;
}
.utilichart .flagssortcol {
	width: 116px;
}
.utilichart .flagcol {
	width: 116px;
	height: 48px !important;
	font-size: 7pt;
	font-weight: bold;
	position: relative;
	box-sizing: border-box;
	margin-top: -6px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	gap: 2px;
	padding: 2px;
	overflow: visible;
	line-height: 1;
}

.utilichart .flagcol img,
.utilichart .flagcol span {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	transform: translate(-50%, -50%);
}

.utilichart .flagcol div {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: translate(-50%, -50%);
}

/* Default: center all flags */
.utilichart .flagcol img,
.utilichart .flagcol span,
.utilichart .flagcol div {
	left: 50%;
	top: 45%;
}

/* Single flag: centered */
.utilichart .flagcol div:only-child {
	left: 50%;
	top: 45%;
}

/* Two flags: side by side */
.utilichart .flagcol div:first-child:nth-last-child(2) {
	left: 25%;
	top: 45%;
}

.utilichart .flagcol div:nth-child(2):last-child {
	left: 75%;
	top: 45%;
}

/* Three flags: two on top, one below center */
.utilichart .flagcol div:first-child:nth-last-child(3) {
	left: 25%;
	top: 30%;
}

.utilichart .flagcol div:nth-child(2):nth-last-child(2) {
	left: 75%;
	top: 30%;
}

.utilichart .flagcol div:nth-child(3):last-child {
	left: 50%;
	top: 64%;
}

/* Four flags: 2x2 grid */
.utilichart .flagcol div:first-child:nth-last-child(4) {
	left: 25%;
	top: 30%;
}

.utilichart .flagcol div:nth-child(2):nth-last-child(3) {
	left: 75%;
	top: 30%;
}

.utilichart .flagcol div:nth-child(3):nth-last-child(2) {
	left: 25%;
	top: 64%;
}

.utilichart .flagcol div:nth-child(4):last-child {
	left: 75%;
	top: 64%;
}


.utilichart .abilitycol {
	padding-top: 8px;
	height: 28px;
	font-size: 8pt;
	width: 96px;
	text-align: center;
	white-space: nowrap;
}
.utilichart .twoabilitycol {
	padding-top: 1px;
	height: 35px;
	font-size: 8pt;
	width: 96px;
	text-align: center;
	white-space: nowrap;
}
.utilichart .hacol {
	font-style: italic;
}
.utilichart .unreleasedhacol {
	font-style: italic;
	text-decoration: line-through;
}
.utilichart b {
	color: #4488CC;
	text-decoration: underline;
}
.utilichart small {
	font-size: 8pt;
}
.utilichart small b {
	font-weight: normal;
}
.utilichart .illegalcol em {
	padding: 2px 4px;
	height: auto;
	border: 1px solid #AA2222;
	color: #AA2222;
	border-radius: 4px;
}
.utilichart .filtercol em {
	padding: 2px 4px;
	height: auto;
	border: 1px solid #22AA22;
	color: #22AA22;
	border-radius: 4px;
}
.utilichart .typecol img {
	opacity: 0.6;
	display: block;
	position: absolute;
	left: 7px; /* centers 32px icon inside 46px column */
	width: 32px;
	height: 14px;
}
.utilichart .typecol img:only-child {
	/* center single icon vertically */
	top: 8px; /* (30 - 14) / 2 */
}
.utilichart .typecol img:nth-child(1) {
	top: 1px;
}
.utilichart .typecol img:nth-child(2) {
	top: 13px;
}
.utilichart .typecol img:only-child {
	/* Ensure single icon is vertically centered even when nth-child rules also match */
	top: 8px !important;
}
.utilichart .typecol img.b {
	opacity: 1;
	outline: #4488CC solid 1px;
	outline-offset: 0;
	background: #4488CC;
}
.utilichart .flagcol img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 66px !important;
	height: 16px !important;
}
.utilichart .flagcol div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	flex: 0 0 48%;
	max-width: 64px;
	height: 18px;
}

/* For 1-2 flags, take full width */
.utilichart .flagcol div:first-child:nth-last-child(1),
.utilichart .flagcol div:first-child:nth-last-child(2),
.utilichart .flagcol div:first-child:nth-last-child(2) ~ div {
	flex: 0 0 100%;
	max-width: 132px;
	height: 18px;
}

/* Remove the experimental :has() selectors */

.utilichart .itemdesccol,
.utilichart .abilitydesccol,
.utilichart .movedesccol {
	white-space: normal;
	padding-top: 8px;
	font-size: 8pt;
	width: 488px;
	overflow: hidden;
	color: #777777;
	display: flex;
	align-items: center;
	padding-top: 0;
}
.utilichart .movedesccol {
	width: 284px;
	height: auto;
}
.utilichart .itemdesccol,
.utilichart .abilitydesccol {
	height: 60px;
}
.utilichart .itemdesccol {
	width: 420px;
	height: 60px;
	white-space: normal;
	overflow: visible;
	line-height: 1.4;
	padding: 4px 8px 4px 0;
	align-items: flex-start;
}
.utilichart .abilitydesccol {
	width: 488px;
	height: 60px;
	white-space: normal;
	overflow: visible;
	line-height: 1.4;
	padding: 4px 8px 4px 0;
	align-items: flex-start;
}
.utilichart .fragiledesccol {
	width: 170px;
	height: 60px;
	white-space: normal;
	overflow: visible;
	line-height: 1.4;
	padding: 4px 8px 4px 0;
	font-size: 8pt;
	color: #cc6600;
	font-style: italic;
	display: flex;
	align-items: flex-start;
}

.utilichart .sortrow {
	background: #D0D0D0;
	border-bottom: 1px solid #888;
	height: 20px;
	color: black;
}
.utilichart .sortcol {
	font-family: Verdana, sans-serif;
	font-size: 8pt;
	background: transparent;
	color: black;
	float: left;
	border-radius: 0;
	border: 0;
	padding: 30 0 30 0;
	text-align: center;
	height: 20px;
	margin-left: 4px;
}
.utilichart .sortcol.cur {
	font-weight: bold;
	background: #E0E0E0;
}
.utilichart .sortcol:hover {
	background: #F0F0F0;
}
.utilichart .sortcol.numsortcol.cur,
.utilichart .sortcol.numsortcol.cur:hover {
	background: #D0D0D0;
	cursor: default;
}
.utilichart .numsortcol {
	width: 80px;
}
.utilichart .pnamesortcol {
	width: 127px;
}
.utilichart .typesortcol {
	width: 68px;
}
.utilichart .catsortcol {
	width: 66px;
}
.utilichart .abilitysortcol {
	width: 172px;
}
.utilichart .statsortcol {
	width: 24px;
	text-align: right;
}
.utilichart .sortcol.movenamecol {
	width: 140px;
	margin-left: 9px;
}
.utilichart .sortcol.typecol {
	width: 46px;
	margin-left: 4px;
}
.utilichart .sortcol.catcol {
	width: 52px;
	margin-left: 4px;
}
.utilichart .sortcol.flagssortcol {
	width: 116px;
}
.utilichart .sortcol.labelcol {
	width: 38px;
}
.utilichart .sortcol.widelabelcol {
	width: 50px;
}
.utilichart .sortcol.pplabelcol {
	width: 25px;
}
